:root {
    --gap1: 0.75rem;
    --gap2: 0.5rem;
    --gap3: 0.25rem;

    /*Colors*/
    --dashboard-background: #292622;
    --dashboard-cell-background: rgba(13, 12, 8, 0.5);
    --sidebar-background: #0D0C08;
    --text-color: white;
    --neon-orange: #FF8F05;

    /*Borders*/
    --thin-border: 1px solid;
    --thick-border: 2px solid;
}

@font-face {
    font-family: roboto;
    src: url(./fonts/Roboto-Regular.ttf);
  }
  
* {
    box-sizing: border-box;
    font-family: roboto;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
  }

body {
    line-height: 1.5;
}

.sidebar,
.nav{
    position: sticky;
}
/*Sidebar*/

.container {
    min-height: 100vh   ;
    display: grid;
    grid-template-columns: clamp(180px, 25%, 200px) 1fr;
}

ul {
    list-style: none;
}

.sidebar {
    grid-column: 1 / 2;
    display: grid;
    grid-template-rows: repeat(3, max-content);
    justify-items: stretch;
    gap: 2rem;
    background-color: var(--sidebar-background);
    border-right: 2px solid var(--neon-orange);
    color: var(--neon-orange);
}

.logo {
    justify-self: center;
    font-size: 1.75rem;
    padding: 0.5rem 1rem;
}

.options,
.settings {
    padding: 0 2rem;
    font-size: 1.25rem;
    line-height: 3rem;
}

.main_content {
    display: grid;
    grid-template-rows: max-content 1fr;
}

/*Nav bar*/

.nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--neon-orange);
    padding: 0.5rem 2rem;
}

.left_nav_content {
    list-style: none;
    justify-self: left;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.right_nav_content {
    justify-self: right;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.searchbar_container {
    display: flex;
    gap: 0.25rem;
}

#alerts {
    width: 32px; height: 32px;
    background-image: url(./icons/bell-ringing.svg);
    background-position: center;
    background-repeat: no-repeat;
}

svg,
#alerts,
.profile_picture {
    width: 32px; height: 32px;
}

.vertical_rule {
    height: 32px;
    border-left:1px solid #000;   
}

.profile_container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.profile_name {
    padding: 0.5rem 0;
}
.profile_picture {
    background-image: url(./icons/profile-default.svg);
}

button,
input {
  font-family: inherit;
  width: 100%;
  padding: 0.25rem 0.5rem;
}

input {
    appearance: none;
    outline: none;
    border-radius: 10px;
}

/*Main*/

.dashboard {
    background-color: var(--dashboard-background);
    display: grid;
    grid-template-columns: 4fr 1fr;
    padding: 0.75rem;
    gap: 0.75rem;
}

.dashboard_cell{
    border: 2px solid var(--neon-orange);
    border-radius: 8px;
    box-shadow: 1px 1px 3px var(--neon-orange);
    background-color: var(--dashboard-cell-background);
}

.dashboard_cell p,
h2, h4 {
    color: white;
}

.card_img,
.profile_picture_container {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#img1 {
    background-image: url(./images/Magma-DRG.jpg);
}

#img2 {
    background-image: url(./images/GlacialStrata-DRG.jpg);
}

#img3 {
    background-image: url(./images/RadioactiveZone-DRG.jpg);
}

.orange_filter {
    filter: invert(45%) sepia(40%) saturate(2275%) hue-rotate(12deg) brightness(111%) contrast(96%);
}

.projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 0.75rem;
}

.dives {
    grid-column: 1 / 4;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.75rem;
}

.dive_card{
    padding: 0.75rem;
    display: grid;
    grid-template-rows: 1fr 1.5fr max-content;
    gap: 0.75rem;
}

.card_img {
    border-radius: 4px;
}

.card_text_container {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.card_title {
    color: white;
    border-radius: 4px;
    border-bottom: 1px solid var(--neon-orange);
    padding: 2.5px 5px;
}

.card_text {
    flex: 1;
    padding: 5px;
    border-radius: 4px;
}
.card_controls{
    padding: 0 5px;
    display: flex;
    justify-content: flex-end;
    gap: 5px;
}

.control {
    width: 28px; height: 28px;
    background-repeat: no-repeat;
    background-size: cover;
}

.c1 {
    background-image: url(./icons/star-outline.svg);
}

.c2 {
    background-image: url(./icons/eye-outline.svg);
}

.c3 {
    background-image: url(./icons/share-variant-outline.svg);
}

.gold_overview{
    grid-area: 2 / 1 / 3 / 3;
}

.minerals_collected {
    grid-area: 2 / 3 / 4 / 4;
}

.top_performance {
    grid-area: 3 / 1 / 4 / 3;
}

/**/
.notifications {
    display: grid;
    grid-template-rows: 1.5fr 1fr;
    gap: var(--gap1);
}

.section_title {
    padding-left: var(--gap3);
}

.notifications_1,
.notifications_2 {
    display: flex;
    flex-direction: column;
    gap: var(--gap3);
}

/*Announcements*/
.announcement > h4 {
    border-bottom: 1px solid var(--neon-orange);
    padding-left: 0.25rem;
    margin-bottom: 5px;
}

.announcement_container,
.trending_container {
    flex: 1;
    padding: 1.5rem;
    display: grid;
    gap: var(--gap1);
}
.announcement_container {
    grid-template-rows: repeat(3, 1fr);
}

.announcement_text {
    font-size: 0.9rem;
    border-bottom: 1px solid var(--neon-orange)
}

/*Trending*/

.trending_user {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.trending_container {
    grid-template-rows: repeat(4, 1fr);
}

.profile_picture_container {
    height: 50px; width: 50px;
    border: var(--thick-border) var(--neon-orange); /*change border to other color*/
    border-radius: 25px;
}

#p2 {
    background-image: url(./images/Driller_portrait.jpg);
}

.trending_info {
    flex: 1;
    display: grid;
    grid-template-rows: repeat(2, max-content);
}

a {
    text-decoration: none;
}

