:root {
    --gap1: 0.75rem;
}
* {
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
  }

body {
    line-height: 1.5;
}

.container {
    min-height: 100vh   ;
    display: grid;
    grid-template-columns: clamp(180px, 25%, 200px) 1fr;
}

ul {
    list-style: none;
}

.sidebar {
    grid-column: 1 / 2;
    background-color: blue;
    display: grid;
    grid-template-rows: repeat(3, max-content);
    justify-content: start;
    padding: 0.5rem 0 0 1rem;
    gap: 2rem;
}

.logo,
.options,
.settings_bar{
    border: 1px solid black;
}

.logo {
    align-self: center;
}
.main_content {
    display: grid;
    grid-template-rows: max-content 1fr;
}

.nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: red;
    padding: 0.5rem 1rem;
}

.left_nav_content {
    list-style: none;
    justify-self: left;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.right_nav_content {
    justify-self: right;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.searchbar_container {
    display: flex;
    gap: 0.25rem;
}

#alerts {
    width: 32px; height: 32px;
    background-image: url(./icons/bell-ringing.svg);
    background-position: center;
    background-repeat: no-repeat;
}

svg,
#alerts,
.profile_picture {
    width: 32px; height: 32px;
}

.vertical_rule {
    height: 32px;
    border-left:1px solid #000;   
}

.profile_container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.profile_name {
    padding: 0.5rem 0;
}
.profile_picture {
    background-image: url(./icons/profile-default.svg);
}

button,
input {
  font-family: inherit;
  width: 100%;
  padding: 0.25rem 0.5rem;
}

input {
    appearance: none;
    outline: none;
    border-radius: 10px;
}

/*Main*/

.dashboard {
    background-color: yellow;
    display: grid;
    grid-template-columns: 4fr 1fr;
    padding: 0.75rem;
    gap: 0.75rem;
}

.projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 0.75rem;
}

.dive_card,
.card_img,
.card_text_container,
.card_controls,
.gold_overview,
.minerals_collected,
.top_performance,
.announcements,
.trending {
    border: 1px solid black;
}

.dives {
    grid-column: 1 / 4;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.75rem;
}

.dive_card{
    padding: 0.75rem;
    display: grid;
    grid-template-rows: 1fr 1.5fr max-content;
    gap: 0.75rem;
    border-radius: 10px;
}

.card_img {
    border-radius: 5px;
}

.card_controls{
    display: flex;
    justify-content: flex-end;
}

.gold_overview {
    grid-area: 2 / 1 / 3 / 3;
}

.minerals_collected {
    grid-area: 2 / 3 / 4 / 4;
}

.top_performance {
    grid-area: 3 / 1 / 4 / 3;
}

.notifications {
    display: grid;
    grid-template-rows: 1.5fr 1fr;
    gap: 0.75rem;
}

.announcements {
    grid-row: 1 / 2
}