:root {
    --gap1: 0.75rem;
    --gap2: 0.5rem;
    --gap3: 0.25rem;

    /*Colors*/
    --dashboard-background: #292622;
    --dashboard-cell-background: rgba(13, 12, 8, 0.5);
    --main-background1: #0D0C08;
    --text-color: white;
    --neon-orange: #FF8F05;

    /*Borders*/
    --thin-border: 1px solid;
    --thick-border: 2px solid;
}

/*General*/

@font-face {
    font-family: roboto;
    src: url(./fonts/Roboto-Regular.ttf);
  }
  
* {
    box-sizing: border-box;
    font-family: roboto;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
  }

body {
    line-height: 1.5;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

button {
    border: none;
    cursor: pointer;
}

.container {
    min-height: 100vh   ;
    display: grid;
    grid-template-columns: max-content 4fr;
}

/*Sidebar*/

.sidebar {
    grid-column: 1 / 2;
    display: grid;
    grid-template-rows: repeat(3, max-content);
    justify-items: stretch;
    gap: 2rem;
    background-color: var(--main-background1);
    border-right: var(--thick-border) var(--neon-orange);
    color: var(--neon-orange);
}

.logo {
    justify-self: center;
    font-size: 1.75rem;
    padding: 0.5rem 1rem;
}

.options,
.settings {
    padding: 0 2rem;
    font-size: 1.25rem;
    line-height: 3rem;
}

.main_content {
    display: grid;
    grid-template-rows: max-content 1fr;
    background-color: var(--dashboard-background);
}

/*Nav bar*/

.nav {
    color: var(--text-color);
    padding: 0.5rem 1rem;
}

.nav_content_wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    background-color: var(--main-background1);
    border: var(--thick-border) var(--neon-orange);
    padding: 0.5rem 1rem;
}

.right_nav_content,
.left_nav_content {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.left_nav_button {
    color: black;
    font-size: 1.1rem;
    font-weight: 600;
    background-color: var(--neon-orange);
    padding: var(--gap3) var(--gap1);
    border-radius: 4px;
}

.right_nav_content {
    justify-self: end;
    gap: var(--gap2)
}

.searchbar_container {
    height: 2rem;
    display: flex;
    gap: var(--gap3);
    position: relative;
}
  
#searchbar {
    width: 100%;
    font-family: inherit;
    appearance: none;
    outline: none;
    padding: var(--gap3) var(--gap2);
    color: var(--text-color);
    background-color: var(--main-background1);
    border: var(--thin-border) var(--neon-orange);
    border-radius: 4px;
}

#searchbar::placeholder {
    color: white;
}

.submit_button {
    background: transparent;
    position: absolute;
    right: 0;
}

#alerts {
    cursor: pointer;
}

.svg_image {
    height: 2rem; width: 2rem;   
}

.vertical_rule {
    height: 2.5rem;
    border-left: var(--thin-border) var(--neon-orange); 
}

.profile_container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.username {
    padding: 0.5rem 0;
    font-size: 1.1rem;
    font-weight: bold;
}

.profile_picture_container {
    min-height: 3rem; min-width: 3rem;
    border: var(--thick-border) var(--neon-orange);
    border-radius: 2rem;
}

#user_pic {
    background-image: url(images/Mission_control_portrait.jpg);
}
/*Main*/

.dashboard {
    display: grid;
    grid-template-columns: minmax(auto, 1fr) 25ch;
    padding:var(--gap1);
    gap: var(--gap1);
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: max-content;
    gap: var(--gap1);
}

.dashboard_cell {
    display: grid;
    grid-template-rows: max-content 1fr;
    gap: var(--gap3);
}

.cell_main_content{
    border: var(--thick-border) var(--neon-orange);
    border-radius: 8px;
    box-shadow: 1px 1px 3px var(--neon-orange);
    background-color: var(--dashboard-cell-background);
}

.cell_main_content p,
h2, h4 {
    color: var(--text-color);
}

.control,
.card_img,
.profile_picture_container {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#img1 {
    background-image: url(./images/Magma-DRG.jpg);
}

#img2 {
    background-image: url(./images/GlacialStrata-DRG.jpg);
}

#img3 {
    background-image: url(./images/RadioactiveZone-DRG.jpg);
}

.orange_filter {
    filter: invert(45%) sepia(40%) saturate(2275%) hue-rotate(12deg) brightness(111%) contrast(96%);
}

.card_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: var(--gap1);
}

.dive_card{
    display: grid;
    grid-template-rows: 1fr 1.5fr max-content;
    gap: var(--gap1);
    padding: var(--gap1);
}

.card_img {
    border-radius: 4px;
}

.card_text_container {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.card_title {
    color: white;
    border-bottom: var(--thin-border) var(--neon-orange);
    padding: 2.5px 5px;
}

.card_text {
    flex: 1;
    padding: 5px;
    border-radius: 4px;
}
.card_controls{
    padding: 0 5px;
    display: flex;
    justify-content: flex-end;
    gap: 5px;
}

.control {
    width: 28px; height: 28px;
}

.c1 {
    background-image: url(./icons/star-outline.svg);
}

.c2 {
    background-image: url(./icons/eye-outline.svg);
}

.c3 {
    background-image: url(./icons/share-variant-outline.svg);
}

.charts{
    display: grid;
    grid-column: 1 / -1;
    grid-template-columns: subgrid;
    gap: var(--gap1);
}

.gold_overview {
    grid-column: 1 / 3;
}
.minerals_collected {
}



/**/
.notifications {
    display: grid;
    grid-template-rows: 1fr auto;
    gap: var(--gap1);
}

.section_title {
    padding-left: var(--gap3);
}

.notifications_1,
.notifications_2 {
    display: flex;
    flex-direction: column;
    gap: var(--gap3);
}

/*Announcements*/
.announcement > h4 {
    border-bottom: 1px solid var(--neon-orange);
    padding-left: 0.25rem;
    margin-bottom: 5px;
}

.announcement_container,
.trending_container {
    flex: 1;
    padding: 1.5rem;
    display: grid;
    gap: var(--gap1);
}
.announcement_container {
    grid-template-rows: repeat(3, 1fr);
}

.announcement_text {
    font-size: 0.9rem;
    border-bottom: 1px solid var(--neon-orange);
}

/*Trending*/

.trending_user {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.trending_container {
    grid-template-rows: repeat(4, 1fr);
}

#pic1{
    background-image: url(./images/bosco_DRG.jpeg);
}

#pic2 {
    background-image: url(./images/Driller_portrait.jpg);
}

#pic3 {
    background-image: url(./images/Engineer_portrait.jpg);
}

#pic4 {
    background-image: url(./images/Gunner_portrait.jpg);
}

.trending_info {
    flex: 1;
    display: grid;
    grid-template-rows: repeat(2, max-content);
}

.trending_description {
    font-size: 0.9rem;
}

