* {
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
  }

body {
    line-height: 1.5;
}

.container {
    display: grid;
    grid-template-columns: max-content 1fr;
}

.sidebar {
    grid-column: 1 / 2;
    background-color: blue;
}


.main_content {
    display: grid;
    grid-template-rows: max-content 1fr;
}

.nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: red;
}

.left_nav_content {
    justify-self: left;
}

.right_nav_content {
    justify-self: right;
}

.dashboard {
    background-color: yellow;
}